body {
    background-color: #F5F7FA;
    color: #434A54;
}

.hero-unit {
    position: relative;
    padding: 15px 0px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#banner {
    border-bottom: none;
    margin-top: 10%;

    h1 {
        font-size: 66px;
        font-weight: bold;

        a {
            color: #ED5565;
            text-decoration: none;
            outline: 0;
            transition: color 1s;
            -moz-transition: color 1s;
            -webkit-transition: color 1s;
            -o-transition: color 1s;
            text-shadow: 0 1px 0 #fff, 0 2px 0 #fff, 0 3px 0 #fff, 0 4px 0 #fff, 0 5px 0 #fff;
        }

        a:hover {
            color: #DA4453;
        }

    }
}

#login, #register, #settings {
    h3 {
        color: #656D78;
        margin-left: -2px;
    }
}

.has-error .help-block {
    font-weight: normal;
    color: #434A54;
}

.footer {
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin-top: 6%;
    font-weight: normal;
    box-shadow: 0px 500px 0px 500px #434A54;

    a { color: #ED5565; }
    a:hover { color: #DA4453; }

}