<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>hi kana</h1>
    <p class="lead">you are adopted</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Product Listings</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="product in productList">
        <li><a href="#" tooltip="${{product.price}}, {{product.desc}}">{{product.name}}<button type="button" class="close" ng-click="deleteProduct(product)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Fill out the following form to create an entry for your product.</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Name of the product" ng-model="productName">
    </p>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Description" ng-model="productDesc">
    </p>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Price" ng-model="productPrice">
    </p>
    <button type="submit" class="btn btn-primary" ng-click="addProduct()">Add New</button>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
