<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>hi kana</h1>
    <p class="lead">you are adopted</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-3" ng-repeat="product in productList">
      <div class="thumbnail">
        <img my-holder="holder.js/240x200">
        <div class="caption">
          <h3>{{product.name}}</h3>
          <p>{{product.desc}} | ${{product.price}}</p>
          <p><a href="#" class="btn btn-primary" role="button">Purchase</a> <button type="button" class="close" ng-click="deleteProduct(product)">&times;</button></a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
