#dashboard {
	margin-top: 3%;
}

#dash-1 {
	background-color: #fff;
	padding: 10px 30px 20px 30px;
	margin: 20px;
	border-radius: 3px;
	color: #333;
    box-shadow: 0 0 25px black;
}

h2 {
    font-family: 'Lobster', cursive;
    font-weight: normal;

    strong {
    	color: #00CED1;
    	border-bottom: 3px dotted #48D1CC;
    }
}

a {
	color: #00CED1;
	text-decoration: none;
    transition: color 0.5s;
    -moz-transition: color 0.5s; /* Firefox 4 */
    -webkit-transition: color 0.5s; /* Safari and Chrome */
    -o-transition: color 0.5s; /* Opera */
}
a:hover {color:#333;text-decoration: none;}

/*
 *	Checkbox styles from https://github.com/flatlogic/awesome-bootstrap-checkbox
 */
.checkbox{
	padding-left: 30px;
	margin-top: -13px;

	label{
		display: inline-block;
		position: relative;
		padding-left: 5px;

	    &::before{
			content: "";
			display: inline-block;
			position: absolute;
			width: 17px;
			height: 17px;
			left: 0;
			border: 1px solid $input-border;
			border-radius: 3px;
			background-color: #fff;
			@include transition(border 0.15s ease-in-out, color 0.15s ease-in-out);
	    }

	    &::after{
			display: inline-block;
			position: absolute;
			width: 16px;
			height: 16px;
			left: 0;
			top: 0;
			padding-left: 3px;
			padding-top: 1px;
			font-size: 11px;
			color: $gray;
		}
	}

	input[type="checkbox"]{
		opacity: 0;
		outline: 0;

	    &:focus + label::before{
			@include tab-focus();
			outline: 0;
	    }

	    &:checked + label::after{
			font-family: 'FontAwesome';
			content: $fa-var-check;
			outline: 0;
	    }

	    &:disabled + label{
			opacity: 0.65;

		    &::before{
				background-color: $gray-lighter;
				cursor: not-allowed;
		    }
	    }
	}
}