<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <form class="thing-form">
    <label>Fill out the following form to create an entry for your product.</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Name of the product" ng-model="productName">
    </p>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Description" ng-model="productDesc">
    </p>
    <p class="input-group">
      <span class="input-group-addon">$</span>
      <input type="text" class="form-control" placeholder="Price" ng-model="productPrice">
      <span class="input-group-addon">.00</span>
    </p>
    <button type="submit" class="btn btn-primary" ng-click="addProduct()">Add New</button>
  </form>

</div>